.elem-logo {
    display: inline-block;
    margin-top: 2.8vw;

    @media (max-width: 1280px) {
        margin-top: 1.95vw;
    }

    & img {
        height: 3.6vw;

        @media (max-width: 1280px) {
            height: 3.85vw;
        }
    }
}