.elem-info {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 194px;
    height: 27px;
    width: 27px;

    @media (max-width: 1280px) {
        height: 21px;
        width: 21px;
        left: 16px;
        top: 126px;
    }

    & svg {
        max-width: 100%;
        max-height: 100%;
    }

    @media screen and (max-width: 980px) {
        display: none;
    }

    &__detail {
        display: none;
        background-color: #63c3d1;
        opacity: 0.95;
        position: absolute;
        top: 176px;
        left: 3px;
        right: -14px;
        padding: 48px 58px 10px 53px;
        min-height: 380px;

        @media (max-width: 1280px) {
            top: 112px;
            left: 3px;
            right: -11px;
            padding: 38px 58px 10px 43px;
            min-height: 304px;
        }

        @media screen and (max-width: 980px) {
            display: block;
            position: relative;
            left: auto;
            top: auto;
            right: auto;
            min-height: 0;
            opacity: 1;
            background: transparent;
            padding: 12px 20px 0px;
        }
    }

    &__title {
        color: #003a3b;
        font-size: 21px;
        line-height: 1.1;
        margin-bottom: 16px;

        @media (max-width: 1280px) {
            font-size: 17px;
            margin-bottom: 14px;
        }

        @media screen and (max-width: 980px) {
            display: none;
        }
    }

    &__text {
        color: #000000;
        font-size: 14px;
        line-height: 24px;

        @media (max-width: 1280px) {
            font-size: 11px;
            line-height: 19px;
        }

        @media screen and (max-width: 980px) {
            color: #fff;
            font-size: 11px;
            line-height: 16px;
            margin-bottom: 16px;
        }
    }

    &__more {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 21px;
        position: absolute;
        left: 53px;
        bottom: 44px;

        @media (max-width: 1280px) {
            font-size: 11px;
            line-height: 17px;
            left: 45px;
            bottom: 34px;
        }

        @media screen and (max-width: 980px) {
            position: relative;
            left: 0;
            bottom: 0;
            font-size: 11px;
            line-height: 1.1;
            color: #4eb8ba;
        }

        & .elem-svg {
            margin-left: 10px;

            @media (max-width: 1280px) {
                height: 16px;
                width: 16px;
                margin-left: 6px;
            }

            @media screen and (max-width: 980px) {
                height: 14px;
                width: 14px;
                margin-left: 6px;
            }

            & .elem-svg--white {
                fill: #4eb8ba;

                @media (max-width: 1280px) {
                    fill: #fff;
                }
            }
        }
    }

    &__close {
        border: 1px solid #fff;
        border-radius: 50%;
        height: 29px;
        position: absolute;
        right: 13px;
        top: 18px;
        transform: rotate(45deg);
        width: 29px;

        @media (max-width: 1280px) {
            height: 24px;
            width: 24px;
            right: 11px;
            top: 14px;
        }

        @media screen and (max-width: 980px) {
            display: none;
        }

        &::before,
        &::after {
            background: #fff;
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            height: 11px;
            width: 1px;
            transform: translate(-50%, -50%);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-90deg);
        }
    }
}