.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: top 0.4s ease;

    &.fixed {
        top: -50px;
    }

    &.small {
        position: fixed;
        top: 0;
    }
}

.menu {
    background-color: #000000;
    position: relative;

    & .container {

        .fixed &, 
        .header--inner & {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 980px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        @media screen and (max-width: 980px) {
            height: 60px;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &-list {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 21px 52px 25px 17px;
        margin: 0;

        .fixed &, 
        .header--inner & {
            padding: 16px 12px 18px 0;
            width: calc(100% - 122px);

            @media (max-width: 1280px) {
                padding: 13px 9px 15px 0;
            }

            @media screen and (max-width: 980px) {
                padding: 60px 0;
                width: 100%;
            }
        }
        
        @media (max-width: 1280px) {
            padding: 16px 44px 20px 14px;
        }

        @media screen and (max-width: 980px) {
            display: none;
            background-color: #070809;
            z-index: 100;
            top: 0px;
            position: absolute;
            left: 0;
            right: 0;
            padding: 60px 0;
            min-height: 100vh;
        }

        &.open {
            @media screen and (max-width: 980px) {
                display: block;
            }
        }
    }

    &-item {
        &::before {
            display: none;
        }

        padding: 0;
        transition: all 0.4s ease;

        .fixed &, 
        .header--inner & {
            margin-left: 52px;

            @media (max-width: 1280px) {
                margin-left: 23px;
            }

            @media screen and (max-width: 980px) {
                margin-left: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    &-link {
        color: #ffffff;
        display: block;
        font-size: 20px;
        line-height: 1.1;
        text-decoration: none;

        .fixed &, 
        .header--inner & {
            font-size: 18px;

            @media (max-width: 1280px) {
                font-size: 14px;
            }

            @media screen and (max-width: 980px) {
                width: 100%;
                font-size: 14px;
                padding: 17px 0;
                text-align: center;
            }
        }

        @media (max-width: 1280px) {
            font-size: 16px;
        }

        @media screen and (max-width: 980px) {
            width: 100%;
            font-size: 14px;
            padding: 17px 0;
            text-align: center;
        }

        &.color--blue {
            color: #02a7e2;
        }

        &:hover {
            color: #f3ff4b;
        }
    }

    &-btn {
        background-color: #042e5a;
        border-radius: 30px;
        color: #ffffff;
        font-size: 16px;
        line-height: 1.1;
        display: block;
        padding: 10px 28px;
        text-decoration: none;

        .fixed &, 
        .header--inner & {
            font-size: 14px;
            padding: 10px 24px;

            @media (max-width: 1280px) {
                font-size: 11px;
                padding: 8px 19px;
            }

            @media screen and (max-width: 980px) {
                font-size: 14px;
                border-radius: 0;
                text-align: center;
                padding: 16px 28px;
            }
        }

        @media (max-width: 1280px) {
            font-size: 13px;
            border-radius: 15px;
            padding: 8px 22px;
        }

        @media screen and (max-width: 980px) {
            background-color: #1f9bd9;
            border-radius: 0;
            text-align: center;
            padding: 16px 28px;
        }

        &:hover {
            background-color: #02a7e2;

            @media screen and (max-width: 980px) {
                background-color: #1f9bd9;
            }
        }
    }

    &-logo {
        display: none;
        z-index: 101;

        .fixed &, 
        .header--inner & {
            display: block;
            margin-top: -10px;

            @media (max-width: 1280px) {
                margin-top: -16px;
            }

            @media screen and (max-width: 980px) {
                margin-top: 0;
                display: inline-block;
            }
        }

        @media screen and (max-width: 980px) {
            display: inline-block;
            vertical-align: middle;
            margin-left: 21px;
            position: relative;
        }

        & img {
            height: 42px;

            @media (max-width: 1280px) {
                height: 34px;
            }

            @media screen and (max-width: 980px) {
                height: 30px;
            }
        }
    }

    & .elem-action {
        font-size: 10px;
        line-height: 11px;
        text-align: center;
        max-width: 49px;
        display: block;
        margin-right: -6px;
        padding-top: 2px;

        &__num {
            height: auto;
            width: auto;
            margin: 0 2px;
            background-color: transparent;
            display: inline;
        }
    }

    &__mobile {
		-webkit-appearance: none;
		   -moz-appearance: none;
				appearance: none;
		background: transparent;
		box-shadow: none;
		border: none;
		cursor: pointer;
		float: left;
		font-size: 0;
		height: 21px;
		left: 0px;
		margin: 0;
		outline: none;
		overflow: hidden;
		position: relative;
		padding: 0;
		text-indent: -9999px;
		top: 0px;
		width: 24px;
        z-index: 101;
        display: none;

        @media screen and (max-width: 980px) {
            display: block;
        }
		
		& span {
			background: #ffffff;
			display: block;
			left: 0px;
			height: 2px;
			position: absolute;
			right: 0px;
			top: 9px;
			transition: background 0s .3s;
			width: 100%;
			
			&:before,
			&:after {
				background-color: #ffffff;
				content: "";
				display: block;
				left: 0;
				height: 2px;
				position: absolute;
				transition-duration: .3s,.3s;
				transition-delay: .3s,0s;
				width: 24px;
			}
			
			&:before {
				transition-duration: .3s,.3s;
				transition-delay: .3s,0s;
				top: -7px;
				transition-property: all;
			}
			
			&:after {
				bottom: -7px;
				transition-property: all;
			}
		}
		
		&.is-active {
			
			& span {
				background: 0 0;
				
				&:before,
				&:after {
					transition-delay: 0s,.3s;
				}
				
				&:before {
					top: 0;
					transform: rotate(45deg);
				}
				
				&:after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}