<footer class="footer">
	<div class="container">
        <div class="footer-copy">
            *Купи сыр ТМ «GRANDBLU» Creamy и/или ТМ «GRANDBLU» Intense со стикером, сохрани чек, зарегистрируй код со стикера на сайте GrandBlu.ru, получи гарантированный подарок – 50 рублей на телефон (за регистрацию первого кода);  участвуй в еженедельных розыгрышах призов: материалов с индивидуальным дизайном или сертификатов Ozon и Ticketland номиналом 1 000 рублей, и розыгрыше главного приза (на выбор): сертификата Ozon Travel номиналом 50 000 рублей / сертификата ИКЕЯ номиналом 50 000 рублей / миксера KitchenAid. Срок проведения Акции  с 02.04.2018 по 24.06.2018. Срок вручения призов с 09.04.18г. по 24.07.18г. Информация об Организаторе Акции, Правилах её проведения, количестве призов, месте и порядке их получения  на сайте GrandBlu.ru
        </div>
        <div class="footer-links">
            <a href="#" class="footer-link">Соглашение на обработку персональных данных</a>
            <a href="#" class="footer-link">Политика конфиденциальности</a>
        </div>
        <div class="footer-age">
            <img src="./img/18plus.svg" alt="">
        </div>
    </div>
</footer>