.page-check {
    
    padding-bottom: 38px;
    
    &__form {
        padding: 47px 228px 63px;
        background: #712388;
        margin-bottom: 40px;
        margin-top: 42px;
        
        @media (max-width: 1280px) {
            padding: 42px 183px 36px;
            margin-bottom: 58px;
        }
        
        @media only screen and (max-width: 980px) {
            margin: 18px -20px 0px -20px;
            padding: 15px 35px 45px;
            border: 0;
        }
        
    }
    
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
        @media only screen and (max-width: 980px){
            display: block;
        }
        
    
        &.padding {
            padding: 0 6px 0 16px;
            
            @media (max-width: 1280px) {
                padding: 0 6px 0 12px;
            }
    
        }
        
        &--button {
            position: relative;
            
            & .error {
                top: -46px;
            }
        }
    
    }
    
    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
        @media only screen and (max-width: 980px) {
            display: block;
            text-align: center;
        }
    }
    
    &__item + &__item {
        margin-top: 12px;
        
        @media (max-width: 1280px) {
            margin-top: 0;
        }
        
        @media only screen and (max-width: 980px) {
            margin-top: 14px;
        }
    }
    
    &__item + &__item + &__item {
        margin-top: 17px;
        
        @media (max-width: 1280px) {
            margin-top: 0;
        }
        
        @media only screen and (max-width: 980px) {
            margin-top: 17px;
        }
    }
    
    &__text {
        font-size: 15px;
	    line-height: 19px;
        
        @media (max-width: 1280px) {
            font-size: 12px;
            line-height: 15px;
        }
        
        @media only screen and (max-width: 980px) {
            display: inline-block;
            font-size: 12px;
            line-height: 34px;
            vertical-align: top;
        }
    }
    
    &__input {
        display: inline-block;
        width: 59px;
        margin: 0 11px 0 16px;
        vertical-align: top;
        
        @media (max-width: 1280px) {
            width: 48px;
        }
        
        @media only screen and (max-width: 980px) {
           width: 42px;     
        }
    }
    
    &__button {
        width: 230px;
        
        @media (max-width: 1280px) {
            width: 185px;        
        }
        
        @media only screen and (max-width: 980px) {
            width: 170px;
            padding: 12px 0 13px;
        }
    }
    
    &__row + &__row--file {
        margin-top: 23px;
	    margin-bottom: 89px;
        
        @media (max-width: 1280px) {
            margin-top: 36px;
	        margin-bottom: 58px; 
        }
        
        @media only screen and (max-width: 980px) {
            margin-top: 23px;
	        margin-bottom: 56px;     
        }
    }
    
    
}

.color-green-light {
    color: #2ce8ec;
}

.color-blue-light {
    color: #35bfff;
}
