.page-faq {
	&__form {
		background:#1d154a;
		padding: 58px 70px 71px 91px;
		margin-top: -17px;
		margin-bottom: 67px;
		
		@media (max-width: 1280px) {
			padding: 47px 56px 57px 73px;
			margin-top: -25px;
			margin-bottom: 53px;
		}
		
		@media screen and (max-width: 980px) {
			border: 0px;
			padding: 23px 19px 27px 20px;
			margin: 15px -20px -11px;
		}
	}
	
	&__title {
		margin-bottom: 42px;
		
		@media (max-width: 1280px) {
			margin-bottom: 35px;
		}
		
		@media screen and (max-width: 980px) {
			margin-bottom: 22px;
		}
	}
}